* {
    margin-top: 0px;
    padding: 0px;
}

nav {
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all;
    transition-duration: 0.7s;
    padding:10px 0px 10px 0px ;
}
nav:hover{
    letter-spacing: 0px;
}